In [1]:
import numpy as np
import pandas as pd
#from pandas_profiling import ProfileReport
import matplotlib.pyplot as plt
%matplotlib inline
# from autoviz.AutoViz_Class import AutoViz_Class
import seaborn as sns
import missingno as msno

%config InlineBackend.figure_format = 'retina'
import bs4 as bs
import requests

import pyforest
import scipy.stats as stats
import keras as ks
# import tensorflow as tf
import cv2 as cv

import re
import os
import math
import datetime
import random
import time

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_columns', None)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
sns.set(style='whitegrid', color_codes=True, font_scale=1.5, palette='plasma', font='Arial', rc={'figure.figsize':(8,6)})

In [2]:
df=sns.load_dataset('tips')
df

     total_bill  tip     sex smoker   day    time  size
0         16.99 1.01  Female     No   Sun  Dinner     2
1         10.34 1.66    Male     No   Sun  Dinner     3
2         21.01 3.50    Male     No   Sun  Dinner     3
3         23.68 3.31    Male     No   Sun  Dinner     2
4         24.59 3.61  Female     No   Sun  Dinner     4
..          ...  ...     ...    ...   ...     ...   ...
239       29.03 5.92    Male     No   Sat  Dinner     3
240       27.18 2.00  Female    Yes   Sat  Dinner     2
241       22.67 2.00    Male    Yes   Sat  Dinner     2
242       17.82 1.75    Male     No   Sat  Dinner     2
243       18.78 3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [3]:
format_dict = {
    'total_bill': '${:,.2f}',
    'tip': '${:,.2f}',
}

In [4]:
df_ = df.head().style.format(format_dict)
df__ = df_
df_

In [5]:
df_.hide_index().highlight_max('size',color='red').highlight_min('size',color='green')

In [6]:
df__

In [7]:
df_.background_gradient(cmap='RdYlGn_r', subset=['tip'])

In [11]:
df.style.background_gradient(cmap='RdYlGn_r', subset=['tip'])

In [12]:
df.head()

   total_bill  tip     sex smoker  day    time  size
0       16.99 1.01  Female     No  Sun  Dinner     2
1       10.34 1.66    Male     No  Sun  Dinner     3
2       21.01 3.50    Male     No  Sun  Dinner     3
3       23.68 3.31    Male     No  Sun  Dinner     2
4       24.59 3.61  Female     No  Sun  Dinner     4

In [16]:
df.style.hide_index().bar(subset=['total_bill']).set_properties(**{'width': '100px'}).set_caption('Total Bill')